<div class="container ">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">AD SOYAD</th>
      <th scope="col">İŞ LOKASYONU</th>
      <th scope="col">İŞ ALANI</th>
      <th scope="col">ÜCRET</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let worker of workers">
      <th scope="row"><img src="../../assets/images/kisi.jpg" class="card-img-top w-25 h-25" alt="..." (click)="openDetail(worker.id)"></th>
      <td (click)="openDetail(worker.id)">{{worker.firstName |uppercase}} {{worker.lastName|uppercase}}</td>
      <td>{{worker.workInLocations}}</td>
      <td>{{worker.areaOfInterest}}</td>
      <td>{{worker.price | currency}}</td>
    </tr>
    </tbody>
  </table>
</div>



