<body>
<div class="shadow-sm p-3 m-5 bg-white">
  <div class="container-fliud" *ngIf="worker">
    <div class="wrapper row">
      <div class="preview col-md-6">
        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1"><img src="../../assets/images/kisi.jpg" /></div>
        </div>
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{worker.firstName}} {{worker.lastName}}</h3>
        <div class="rating">
          <span class="review-no"><i class="bi bi-person-fill"></i> Yaş: {{worker.age}}</span>
        </div>
        <p class="product-description"><i class="bi bi-chat-left-text-fill"></i><b> Hakkında:</b>{{worker.description}}</p>
        <p  class=" product-description"><i class="bi bi-geo-alt-fill"></i> <b> İş Lokasyonu:</b> {{worker.workInLocations}}</p>
        <p  class="product-description"><i class="bi bi-briefcase-fill"></i> <b> İlgilendiği iş alanları:</b>{{worker.areaOfInterest}}</p>
        <p  class="product-description"><i class="bi bi-envelope-fill"></i> <b> E-mail: </b>{{worker.email}}</p>
        <p  class="product-description"><i class="bi bi-telephone-fill"></i> <b> Telefon: </b>{{worker.telNumber}}</p>

        <h5 class="price"><i class="bi bi-currency-dollar"></i>Ücret: <span>{{worker.price | currency}}</span></h5>

      </div>
    </div>
  </div>
</div>



<div class="container my-5">
  <div class="row">
    <div class="col-md-9 mx-auto">

      <div class="card border-0 shadow-sm mb-3">
        <div class="card-body">

          <form class="form" [formGroup]="form">

            <h4 class="mb-3">Kişiyi Değerlendirin</h4>

            <div class="form-floating mb-3">

              <label for="firstName" >Ad</label>
              <input class="form-control" type="text" id="firstName" formControlName="firstName">

              <label for="lastName">Soyad</label>
              <input class="form-control" type="text" id="lastName" formControlName="lastName">

              <label for="workName">Yaptığı İş</label>
              <input class="form-control" type="text" id="workName" formControlName="workName">

              <label for="comment">Yorumunuz</label>
              <textarea name="comment" class="form-control" placeholder="Yorumunuzu buraya yazınız" id="comment" style="height: 100px;" formControlName="comment"></textarea>

            </div>


            <button class="btn btn-dark" (click)="comment()">Gönder</button>
          </form>

        </div>
      </div>

      <h4>Yorumlar</h4>
      <div class="card border-0 shadow-sm mb-3" *ngFor="let comment of userComment">
        <div class="card-body">

          <p>{{comment.comment}}</p>
          <div class="text-muted fs-6 mb-3">{{comment.firstName}} {{comment.lastName}}, ({{comment.workName}}) {{comment.date | date:'dd/MM/yyyy'}}</div>
          <ul class="list-inline fs-5">
            <li class="list-inline-item me-4">
              <i class="bi bi-hand-thumbs-up"></i> 32
            </li>
            <li class="list-inline-item">
              <i class="bi bi-hand-thumbs-down"></i> 5
            </li>
          </ul>
        </div>
      </div>



    </div>
  </div>
</div>

</body>
